.buttonForm {
  width: fit-content;
  min-width: 140px;
  margin: 40px auto 0 auto;

  display: block;

  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

.buttonForm:hover {
  background-color: #e0e0e0;
  transform: translateY(-1px);
}

.buttonForm:active {
  transform: translateY(0);
}
