.footerButton {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.footerIcon {
  transition: all 0.3s ease;
  opacity: 0.5;
}

.footerIconActive {
  transition: all 0.3s ease;
  opacity: 1;
  filter: brightness(0) invert(1);
}
